In [0]:
import pandas as pd
from google.colab import drive
import datetime
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [0]:
import pandas as pd
import numpy as np
from IPython.display import display

In [15]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/'My Drive/sangam/DataSets'
%ls
train = pd.read_csv('Train.csv')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/My Drive/sangam/DataSets
 sample_submission.csv  'weather description labels.txt'
 Test.csv               'weather type labels.txt'
 Train.csv

In [0]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(train['weather_type'])
train['weather_type']= le.transform(train['weather_type'])

In [0]:
le.fit(train['weather_description'])
train['weather_description']= le.transform(train['weather_description'])

In [0]:
def holiday(x):
  if(x == 'None'):
    return 0
  else:
    return 1

In [0]:
train['is_holiday'] = train['is_holiday'].apply(holiday)

In [0]:
import datetime
day=[]
time=[]
# train.to_csv('asp.csv',index=False)
date=train['date_time']
dates=date.tolist()
for date in dates:
	a,b=date.split()
	a=datetime.datetime.strptime(a,'%Y-%m-%d').strftime('%A')
	b=int(b.split(':')[0])
	day.append(a)
	time.append(b)

In [44]:
# train=train.drop(columns=['date_time'])
train['day']=day
train['time']=time
train.head()

   is_holiday  air_pollution_index  humidity  ...  traffic_volume      day  time
0           0                  121        89  ...            5545  Tuesday     9
1           0                  178        67  ...            4516  Tuesday    10
2           0                  113        66  ...            4767  Tuesday    11
3           0                   20        66  ...            5026  Tuesday    12
4           0                  281        65  ...            4918  Tuesday    13

[5 rows x 16 columns]

In [0]:
#le = LabelEncoder()
train['day']=le.fit_transform(train['day'])
train=norm(train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [0]:

def norm(train):
   for col in train:
      avg=train[col].mean()
      stddev=np.std(train[col])
      for i in range(len(train[col])):
        train[col][i]=(train[col][i]-avg)/stddev
   return train